In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import cv2
import numpy as np
df = pd.read_csv('./mytrain.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23501 entries, 0 to 23500
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   video_id        23501 non-null  int64
 1   sequence        23501 non-null  int64
 2   video_frame     23501 non-null  int64
 3   sequence_frame  23501 non-null  int64
 4   image_id        23501 non-null  object
 5   annotations     23501 non-null  object
 6   image_path      23501 non-null  object
 7   bounding_box    23501 non-null  object
dtypes: int64(4), object(4)
memory usage: 1.4+ MB

In [7]:
print(df.head(100))

    video_id  sequence  video_frame  sequence_frame image_id  \
0          0     40258            0               0      0-0
1          0     40258            1               1      0-1
2          0     40258            2               2      0-2
3          0     40258            3               3      0-3
4          0     40258            4               4      0-4
..       ...       ...          ...             ...      ...
95         0     40258           95              95     0-95
96         0     40258           96              96     0-96
97         0     40258           97              97     0-97
98         0     40258           98              98     0-98
99         0     40258           99              99     0-99

                                          annotations  \
0                                                  []
1                                                  []
2                                                  []
3                                                  []
4                                                  []
..                                                ...
95  [{'x': 308, 'y': 540, 'width': 100, 'height': ...
96  [{'x': 301, 'y': 556, 'width': 105, 'height': ...
97  [{'x': 294, 'y': 572, 'width': 111, 'height': ...
98  [{'x': 287, 'y': 589, 'width': 116, 'height': ...
99  [{'x': 282, 'y': 606, 'width': 116, 'height': ...

                            image_path            bounding_box
0    ./data/train_images/video_0/0.jpg                      []
1    ./data/train_images/video_0/1.jpg                      []
2    ./data/train_images/video_0/2.jpg                      []
3    ./data/train_images/video_0/3.jpg                      []
4    ./data/train_images/video_0/4.jpg                      []
..                                 ...                     ...
95  ./data/train_images/video_0/95.jpg  [[308, 540, 408, 621]]
96  ./data/train_images/video_0/96.jpg  [[301, 556, 406, 639]]
97  ./data/train_images/video_0/97.jpg  [[294, 572, 405, 658]]
98  ./data/train_images/video_0/98.jpg  [[287, 589, 403, 677]]
99  ./data/train_images/video_0/99.jpg  [[282, 606, 398, 694]]

[100 rows x 8 columns]

In [9]:
yolo_annotation1=[]
img_w, img_h = 1280, 720
for id in range(len(df['annotations'])):
    bb=df['annotations'][id]
    cots_amont = bb.count('}')
    bb = bb.strip('[]')
    bc = []
    j=0

    for i in range(len(bb)):
        if bb[i] == '}':
            bc.append( bb[j:i+1])
            j = i+3
    bd = []
    for i in range(cots_amont):
        c = eval(bc[i])
        bboxes_list=[]
        w = c.get('width')
        h = c.get('height')
        x = c.get('x')
        y = c.get('y')
        if (x+ w > img_w):
            w = img_w - x
        if (y+ h > img_h):
            h = img_h -y
        xc =x + int(np.round(w/2))
        yc = y + int(np.round(h/2))
        bboxes_list.append(0)
        bboxes_list.append(xc/img_w)
        bboxes_list.append(yc/img_h)
        bboxes_list.append(w/img_w)
        bboxes_list.append( h/img_h)
        bd.append(bboxes_list)
    yolo_annotation1.append(bd)
df = df.assign(yolo_annotation = yolo_annotation1)
df

,video_id,sequence,video_frame,sequence_frame,image_id,annotations,image_path,bounding_box,yolo_annotation
0,0,40258,0,0,0-0,[],./data/train_images/video_0/0.jpg,[],[]
1,0,40258,1,1,0-1,[],./data/train_images/video_0/1.jpg,[],[]
2,0,40258,2,2,0-2,[],./data/train_images/video_0/2.jpg,[],[]
3,0,40258,3,3,0-3,[],./data/train_images/video_0/3.jpg,[],[]
4,0,40258,4,4,0-4,[],./data/train_images/video_0/4.jpg,[],[]
...,...,...,...,...,...,...,...,...,...
23496,2,29859,10755,2983,2-10755,[],./data/train_images/video_2/10755.jpg,[],[]
23497,2,29859,10756,2984,2-10756,[],./data/train_images/video_2/10756.jpg,[],[]
23498,2,29859,10757,2985,2-10757,[],./data/train_images/video_2/10757.jpg,[],[]
23499,2,29859,10758,2986,2-10758,[],./data/train_images/video_2/10758.jpg,[],[]
23500,2,29859,10759,2987,2-10759,[],./data/train_images/video_2/10759.jpg,[],[]

In [10]:
count = []
for i in df['annotations']:
    if i == '[]':
        count.append(0)
    else:
        count.append(i.count('{'))

df = df.assign(cots_count = count)
df

,video_id,sequence,video_frame,sequence_frame,image_id,annotations,image_path,bounding_box,yolo_annotation,cots_count
0,0,40258,0,0,0-0,[],./data/train_images/video_0/0.jpg,[],[],0
1,0,40258,1,1,0-1,[],./data/train_images/video_0/1.jpg,[],[],0
2,0,40258,2,2,0-2,[],./data/train_images/video_0/2.jpg,[],[],0
3,0,40258,3,3,0-3,[],./data/train_images/video_0/3.jpg,[],[],0
4,0,40258,4,4,0-4,[],./data/train_images/video_0/4.jpg,[],[],0
...,...,...,...,...,...,...,...,...,...,...
23496,2,29859,10755,2983,2-10755,[],./data/train_images/video_2/10755.jpg,[],[],0
23497,2,29859,10756,2984,2-10756,[],./data/train_images/video_2/10756.jpg,[],[],0
23498,2,29859,10757,2985,2-10757,[],./data/train_images/video_2/10757.jpg,[],[],0
23499,2,29859,10758,2986,2-10758,[],./data/train_images/video_2/10758.jpg,[],[],0
23500,2,29859,10759,2987,2-10759,[],./data/train_images/video_2/10759.jpg,[],[],0

## Drop no_COTS Label

In [4]:
for i in range (len(count)):
    if count[i] == 0:
        df = df.drop(labels = i)
df
# df.tot_csv('cots_exsist_image.csv')

,video_id,sequence,video_frame,sequence_frame,image_id,annotations,image_path,bounding_box,cots_count
16,0,40258,16,16,0-16,"[{'x': 559, 'y': 213, 'width': 50, 'height': 32}]",./data/train_images/video_0/16.jpg,"[[559, 213, 609, 245]]",1
17,0,40258,17,17,0-17,"[{'x': 558, 'y': 213, 'width': 50, 'height': 32}]",./data/train_images/video_0/17.jpg,"[[558, 213, 608, 245]]",1
18,0,40258,18,18,0-18,"[{'x': 557, 'y': 213, 'width': 50, 'height': 32}]",./data/train_images/video_0/18.jpg,"[[557, 213, 607, 245]]",1
19,0,40258,19,19,0-19,"[{'x': 556, 'y': 214, 'width': 50, 'height': 32}]",./data/train_images/video_0/19.jpg,"[[556, 214, 606, 246]]",1
20,0,40258,20,20,0-20,"[{'x': 555, 'y': 214, 'width': 50, 'height': 32}]",./data/train_images/video_0/20.jpg,"[[555, 214, 605, 246]]",1
...,...,...,...,...,...,...,...,...,...
23369,2,29859,10628,2856,2-10628,"[{'x': 92, 'y': 532, 'width': 40, 'height': 37}]",./data/train_images/video_2/10628.jpg,"[[92, 532, 132, 569]]",1
23370,2,29859,10629,2857,2-10629,"[{'x': 78, 'y': 569, 'width': 40, 'height': 37}]",./data/train_images/video_2/10629.jpg,"[[78, 569, 118, 606]]",1
23371,2,29859,10630,2858,2-10630,"[{'x': 65, 'y': 606, 'width': 41, 'height': 37}]",./data/train_images/video_2/10630.jpg,"[[65, 606, 106, 643]]",1
23372,2,29859,10631,2859,2-10631,"[{'x': 51, 'y': 643, 'width': 44, 'height': 37}]",./data/train_images/video_2/10631.jpg,"[[51, 643, 95, 680]]",1
23373,2,29859,10632,2860,2-10632,"[{'x': 38, 'y': 681, 'width': 46, 'height': 37}]",./data/train_images/video_2/10632.jpg,"[[38, 681, 84, 718]]",1

In [5]:
df = pd.read_csv('./cots_exsist_image.csv')

,video_id,sequence,video_frame,sequence_frame,image_id,annotations,image_path,bounding_box,yolo_annotation,cots_count
0,0,40258,16,16,0-16,"[{'x': 559, 'y': 213, 'width': 50, 'height': 32}]",./data/train_images/video_0/16.jpg,"[[559, 213, 609, 245]]","[[0, 0.45625, 0.31805555555555554, 0.0390625, ...",1
1,0,40258,17,17,0-17,"[{'x': 558, 'y': 213, 'width': 50, 'height': 32}]",./data/train_images/video_0/17.jpg,"[[558, 213, 608, 245]]","[[0, 0.45546875, 0.31805555555555554, 0.039062...",1
2,0,40258,18,18,0-18,"[{'x': 557, 'y': 213, 'width': 50, 'height': 32}]",./data/train_images/video_0/18.jpg,"[[557, 213, 607, 245]]","[[0, 0.4546875, 0.31805555555555554, 0.0390625...",1
3,0,40258,19,19,0-19,"[{'x': 556, 'y': 214, 'width': 50, 'height': 32}]",./data/train_images/video_0/19.jpg,"[[556, 214, 606, 246]]","[[0, 0.45390625, 0.3194444444444444, 0.0390625...",1
4,0,40258,20,20,0-20,"[{'x': 555, 'y': 214, 'width': 50, 'height': 32}]",./data/train_images/video_0/20.jpg,"[[555, 214, 605, 246]]","[[0, 0.453125, 0.3194444444444444, 0.0390625, ...",1
...,...,...,...,...,...,...,...,...,...,...
4914,2,29859,10628,2856,2-10628,"[{'x': 92, 'y': 532, 'width': 40, 'height': 37}]",./data/train_images/video_2/10628.jpg,"[[92, 532, 132, 569]]","[[0, 0.0875, 0.7638888888888888, 0.03125, 0.05...",1
4915,2,29859,10629,2857,2-10629,"[{'x': 78, 'y': 569, 'width': 40, 'height': 37}]",./data/train_images/video_2/10629.jpg,"[[78, 569, 118, 606]]","[[0, 0.0765625, 0.8152777777777778, 0.03125, 0...",1
4916,2,29859,10630,2858,2-10630,"[{'x': 65, 'y': 606, 'width': 41, 'height': 37}]",./data/train_images/video_2/10630.jpg,"[[65, 606, 106, 643]]","[[0, 0.06640625, 0.8666666666666667, 0.0320312...",1
4917,2,29859,10631,2859,2-10631,"[{'x': 51, 'y': 643, 'width': 44, 'height': 37}]",./data/train_images/video_2/10631.jpg,"[[51, 643, 95, 680]]","[[0, 0.05703125, 0.9180555555555555, 0.034375,...",1
4918,2,29859,10632,2860,2-10632,"[{'x': 38, 'y': 681, 'width': 46, 'height': 37}]",./data/train_images/video_2/10632.jpg,"[[38, 681, 84, 718]]","[[0, 0.04765625, 0.9708333333333333, 0.0359375...",1

## Data segmentation

In [9]:

from sklearn.model_selection import GroupKFold
kf = GroupKFold(n_splits = 3)
df = df.reset_index(drop=True)
df['fold'] = -1
for fold, (train_idx, val_idx) in enumerate(kf.split(df, groups=df.video_id.tolist())):
    df.loc[val_idx, 'fold'] = fold
display(df.fold.value_counts())

FOLD=1
train_files = []
val_files   = []

train_df = df.query("fold!=@FOLD")
val_df = df.query("fold==@FOLD")

train_files += list(train_df.image_path.unique())
val_files += list(val_df.image_path.unique())

val_df.reset_index(drop=True, inplace=True)
train_df.reset_index(drop=True, inplace=True)
print(len(train_files), len(val_files))
print(val_df)
print(train_df)
# val_df.to_csv('val_df.csv')
# train_df.to_csv('train_df.csv')

0    2143
1    2099
2     677
Name: fold, dtype: int64

2820 2099
      video_id  sequence  video_frame  sequence_frame image_id  \
0            1     60510          461             461    1-461
1            1     60510          462             462    1-462
2            1     60510          463             463    1-463
3            1     60510          464             464    1-464
4            1     60510          465             465    1-465
...        ...       ...          ...             ...      ...
2094         1     60754         9525            1109   1-9525
2095         1     60754         9526            1110   1-9526
2096         1     60754         9527            1111   1-9527
2097         1     60754         9528            1112   1-9528
2098         1     60754         9529            1113   1-9529

                                            annotations  \
0     [{'x': 816, 'y': 283, 'width': 27, 'height': 23}]
1     [{'x': 817, 'y': 296, 'width': 27, 'height': 24}]
2     [{'x': 817, 'y': 309, 'width': 27, 'height': 24}]
3     [{'x': 818, 'y': 322, 'width': 27, 'height': 24}]
4     [{'x': 819, 'y': 335, 'width': 27, 'height': 25}]
...                                                 ...
2094  [{'x': 401, 'y': 664, 'width': 32, 'height': 31}]
2095  [{'x': 406, 'y': 674, 'width': 32, 'height': 31}]
2096  [{'x': 411, 'y': 683, 'width': 32, 'height': 31}]
2097  [{'x': 418, 'y': 689, 'width': 32, 'height': 28}]
2098  [{'x': 424, 'y': 694, 'width': 32, 'height': 25}]

                                image_path            bounding_box  \
0      ./data/train_images/video_1/461.jpg  [[816, 283, 843, 306]]
1      ./data/train_images/video_1/462.jpg  [[817, 296, 844, 320]]
2      ./data/train_images/video_1/463.jpg  [[817, 309, 844, 333]]
3      ./data/train_images/video_1/464.jpg  [[818, 322, 845, 346]]
4      ./data/train_images/video_1/465.jpg  [[819, 335, 846, 360]]
...                                    ...                     ...
2094  ./data/train_images/video_1/9525.jpg  [[401, 664, 433, 695]]
2095  ./data/train_images/video_1/9526.jpg  [[406, 674, 438, 705]]
2096  ./data/train_images/video_1/9527.jpg  [[411, 683, 443, 714]]
2097  ./data/train_images/video_1/9528.jpg  [[418, 689, 450, 717]]
2098  ./data/train_images/video_1/9529.jpg  [[424, 694, 456, 719]]

                                        yolo_annotation  cots_count  fold
0     [[0, 0.6484375, 0.4097222222222222, 0.02109375...           1     1
1     [[0, 0.64921875, 0.42777777777777776, 0.021093...           1     1
2     [[0, 0.64921875, 0.44583333333333336, 0.021093...           1     1
3     [[0, 0.65, 0.4638888888888889, 0.02109375, 0.0...           1     1
4     [[0, 0.65078125, 0.48194444444444445, 0.021093...           1     1
...                                                 ...         ...   ...
2094  [[0, 0.32578125, 0.9444444444444444, 0.025, 0....           1     1
2095  [[0, 0.3296875, 0.9583333333333334, 0.025, 0.0...           1     1
2096  [[0, 0.33359375, 0.9708333333333333, 0.025, 0....           1     1
2097  [[0, 0.3390625, 0.9763888888888889, 0.025, 0.0...           1     1
2098  [[0, 0.34375, 0.9805555555555555, 0.025, 0.034...           1     1

[2099 rows x 11 columns]
      video_id  sequence  video_frame  sequence_frame image_id  \
0            0     40258           16              16     0-16
1            0     40258           17              17     0-17
2            0     40258           18              18     0-18
3            0     40258           19              19     0-19
4            0     40258           20              20     0-20
...        ...       ...          ...             ...      ...
2815         2     29859        10628            2856  2-10628
2816         2     29859        10629            2857  2-10629
2817         2     29859        10630            2858  2-10630
2818         2     29859        10631            2859  2-10631
2819         2     29859        10632            2860  2-10632

                                            annotations  \
0     [{'x': 559, 'y': 213, 'width': 50, 'height': 32}]
1     [{'x': 558, 'y': 213, 'width': 50, 'height': 32}]
2     [{'x': 557, 'y': 213, 'width': 50, 'height': 32}]
3     [{'x': 556, 'y': 214, 'width': 50, 'height': 32}]
4     [{'x': 555, 'y': 214, 'width': 50, 'height': 32}]
...                                                 ...
2815   [{'x': 92, 'y': 532, 'width': 40, 'height': 37}]
2816   [{'x': 78, 'y': 569, 'width': 40, 'height': 37}]
2817   [{'x': 65, 'y': 606, 'width': 41, 'height': 37}]
2818   [{'x': 51, 'y': 643, 'width': 44, 'height': 37}]
2819   [{'x': 38, 'y': 681, 'width': 46, 'height': 37}]

                                 image_path            bounding_box  \
0        ./data/train_images/video_0/16.jpg  [[559, 213, 609, 245]]
1        ./data/train_images/video_0/17.jpg  [[558, 213, 608, 245]]
2        ./data/train_images/video_0/18.jpg  [[557, 213, 607, 245]]
3        ./data/train_images/video_0/19.jpg  [[556, 214, 606, 246]]
4        ./data/train_images/video_0/20.jpg  [[555, 214, 605, 246]]
...                                     ...                     ...
2815  ./data/train_images/video_2/10628.jpg   [[92, 532, 132, 569]]
2816  ./data/train_images/video_2/10629.jpg   [[78, 569, 118, 606]]
2817  ./data/train_images/video_2/10630.jpg   [[65, 606, 106, 643]]
2818  ./data/train_images/video_2/10631.jpg    [[51, 643, 95, 680]]
2819  ./data/train_images/video_2/10632.jpg    [[38, 681, 84, 718]]

                                        yolo_annotation  cots_count  fold
0     [[0, 0.45625, 0.31805555555555554, 0.0390625, ...           1     0
1     [[0, 0.45546875, 0.31805555555555554, 0.039062...           1     0
2     [[0, 0.4546875, 0.31805555555555554, 0.0390625...           1     0
3     [[0, 0.45390625, 0.3194444444444444, 0.0390625...           1     0
4     [[0, 0.453125, 0.3194444444444444, 0.0390625, ...           1     0
...                                                 ...         ...   ...
2815  [[0, 0.0875, 0.7638888888888888, 0.03125, 0.05...           1     2
2816  [[0, 0.0765625, 0.8152777777777778, 0.03125, 0...           1     2
2817  [[0, 0.06640625, 0.8666666666666667, 0.0320312...           1     2
2818  [[0, 0.05703125, 0.9180555555555555, 0.034375,...           1     2
2819  [[0, 0.04765625, 0.9708333333333333, 0.0359375...           1     2

[2820 rows x 11 columns]

## save training image in  'data1/train/images'
## save testing image in 'data1/test/images'

In [20]:
import shutil

train_df["new_img_path"]=0
for i in train_df.index:
    new_path_img_train=f'data1/train/images/{train_df["image_id"][i]}.jpg
    shutil.copyfile(f'{train_df["image_path"][i]}',new_path_img_train)
    train_df["new_img_path"][i]=new_path_img_train

val_df["new_img_path"]=0
for i in val_df.index:
    new_img_path_val=f'data1/test/images/{val_df["image_id"][i]}.jpg'
    shutil.copyfile(f'{val_df["image_path"][i]}', new_img_path_val)
    val_df["new_img_path"][i]=new_img_path_val